mixin fifth_container_to_photos_block(fifth_photo_block, fifth_1_icons, fifth_2_icons, fifth_h6, fifth_p )
  div.container_to_photos_block
    img(class="people photo" src=fifth_photo_block alt="people photo")
    div.text_hover_to_photos_block
      div.icons_to_photo_block
        div.icon_circle
          i(class=fifth_1_icons)
        div.icon_circle
          i(class=fifth_2_icons)
      div.text_to_photo_block
        h6 #{fifth_h6}
        p #{fifth_p}
