mixin seventh_price_block(seventh_kind_service, eventh_price_number,seventh_achive_1, seventh_achive_2, seventh_achive_3, seventh_achive_4, seventh_achive_5, seventh_achive_6, seventh_achive_7)
  div.price_block
    div.top_content_price_block
      h6 #{seventh_kind_service}
      div.price_per_month
        p $
        p #{seventh_price_number}
        p / MONTH
      p 15 day free trial on all accounts  
    div.main_content_price_block
      p #{seventh_achive_1}
      p #{seventh_achive_2} 
      p #{seventh_achive_3} 
      p #{seventh_achive_4} 
      p #{seventh_achive_5} 
      p #{seventh_achive_6} 
      p #{seventh_achive_7}
    div.bottom_content_price_block
      // button   
      
      
